- if ["items"].include? controller_name
  javascript:
    var ctxL = document.getElementById("bs").getContext('2d');
    var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
        labels: gon.label,
        datasets: [
          {
            label: "Pembelian",
            data: gon.order,
            backgroundColor: [
            'rgba(255, 206, 86, 0.1)',
            ],
            borderColor: [
            'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 2
          },
          {
            label: "Penjualan",
            data: gon.transaction,
            backgroundColor: [
            'rgba(54, 162, 235, 0.1)',
            ],
            borderColor: [
            'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 2
          }

        ]
      },
      options: {
        responsive: true
      }
    });

    var ctxL = document.getElementById("price").getContext('2d');
    var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
        labels: gon.price_label,
        datasets: [
          {
            label: "Harga Beli",
            data: gon.buy,
            backgroundColor: [
            'rgba(255, 99, 132, 0.1)',
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 2
          },
          {
            label: "Harga Jual",
            data: gon.sell,
            backgroundColor: [
            'rgba(54, 162, 235, 0.1)',
            ],
            borderColor: [
            'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 2
          }

        ]
      },
      options: {
        responsive: true
      }
    });

    var ctxL = document.getElementById("loss_item").getContext('2d');
    var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
        labels: gon.loss_label,
        datasets: [
          {
            label: "JUMLAH",
            data: gon.loss_item,
            backgroundColor: [
            'rgba(255, 206, 86, 0.1)',
            ],
            borderColor: [
            'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 2
          }
        ]
      },
      options: {
        responsive: true
      }
    });

// ABSENT GRAPH => UNUSED
- if ["absentss"].include? controller_name
  javascript:
    var ctxL = document.getElementById("workhour").getContext('2d');
    var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
        labels: gon.label_work_hour,
        datasets: [
          {
            label: "Jam Kerja",
            data: gon.work_hour,
            backgroundColor: [
            'rgba(255, 206, 86, 0.1)',
            ],
            borderColor: [
            'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 2
          },
          {
            label: "Lembur",
            data: gon.overtime_hour,
            backgroundColor: [
            'rgba(255, 99, 132, 0.1)',
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 2
          }

        ]
      },
      options: {
        responsive: true
      }
    });

- if ["populars"].include? controller_name
  javascript:
    var ctxP = document.getElementById("higher_sales").getContext('2d');
    var myPieChart = new Chart(ctxP, {
      type: 'horizontalBar',
      data: {
        labels: gon.higher_item_cats_label,
        datasets: [{
          data: gon.higher_item_cats_data,
          backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "rgba(219, 0, 0, 0.1)", "rgba(0, 165, 2, 0.1)", "rgba(255, 195, 15, 0.2)", "rgba(55, 59, 66, 0.1)", "rgba(0, 0, 0, 0.3)"],
          hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "rgba(219, 0, 0, 0.2)", "rgba(0, 165, 2, 0.2)", "rgba(255, 195, 15, 0.3)", "rgba(55, 59, 66, 0.1)", "rgba(0, 0, 0, 0.4)"]
        }]
      },
      options: {
        responsive: true
      }
    });


    var ctxP = document.getElementById("lower_sales").getContext('2d');
    var myPieChart = new Chart(ctxP, {
      type: 'horizontalBar',
      data: {
        labels: gon.lower_item_cats_label,
        datasets: [{
          data: gon.lower_item_cats_data,
          backgroundColor: ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(54, 162, 235, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)", "rgba(219, 0, 0, 0.1)", "rgba(0, 165, 2, 0.1)", "rgba(255, 195, 15, 0.2)", "rgba(55, 59, 66, 0.1)", "rgba(0, 0, 0, 0.3)"
          ],
          hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "rgba(219, 0, 0, 0.2)", "rgba(0, 165, 2, 0.2)", "rgba(255, 195, 15, 0.3)", "rgba(55, 59, 66, 0.1)", "rgba(0, 0, 0, 0.4)"]
        }]
      },
      options: {
        responsive: true
      }
    });

- if isDeveloper
  - if ["homes", "debts", "receivables"].include? controller_name
    javascript:
      // DEBT RECEIVABLE
      var ctxL = document.getElementById("debt_receivable").getContext('2d');
      var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: gon.debt_label,
          datasets: [
            {
              label: "Hutang",
              data: gon.debt_data,
              backgroundColor: [
              'rgba(255, 99, 132, 0.1)',
              ],
              borderColor: [
              'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 2
            },
            {
              label: "Piutang",
              data: gon.receivable_data,
              backgroundColor: [
              'rgba(255, 206, 86, 0.1)',
              ],
              borderColor: [
              'rgba(255, 206, 86, 1)',
              ],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true
        }
      });

  
  - if ["homes", "taxs"].include? controller_name
    javascript:
      // TAX
      var ctxL = document.getElementById("tax").getContext('2d');
      var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: gon.tax_label,
          datasets: [
            {
              label: "Pajak",
              data: gon.tax_data,
              backgroundColor: [
              'rgba(255, 99, 132, 0.1)',
              ],
              borderColor: [
              'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true
        }
      });

  - if ["homes", "operationals"].include? controller_name
    javascript:
      // INCOME OUTCOME 
      var ctxL = document.getElementById("income_outcome").getContext('2d');
      var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: gon.income_outcome_label,
          datasets: [
            {
              label: "Pemasukkan",
              data: gon.income_data,
              backgroundColor: [
              'rgba(255, 99, 132, 0.1)',
              ],
              borderColor: [
              'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 2
            },
            {
              label: "Pengeluaran",
              data: gon.outcome_data,
              backgroundColor: [
              'rgba(255, 206, 86, 0.1)',
              ],
              borderColor: [
              'rgba(255, 206, 86, 1)',
              ],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true
        }
      });

  - if ["losses"].include? controller_name
    javascript:
      // LOSS
      var ctxL = document.getElementById("loss").getContext('2d');
      var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: gon.loss_label,
          datasets: [
            {
              label: "JUMLAH INVOICE HANGUS",
              data: gon.loss,
              backgroundColor: [
              'rgba(255, 99, 132, 0.1)',
              ],
              borderColor: [
              'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 2
            },
            {
              label: "JUMLAH BARANG YANG HANGUS",
              data: gon.loss_item,
              backgroundColor: [
              'rgba(255, 206, 86, 0.1)',
              ],
              borderColor: [
              'rgba(255, 206, 86, 1)',
              ],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true
        }
      });

  - if ["returs"].include? controller_name
    javascript:
      // RETUR
      var ctxL = document.getElementById("retur").getContext('2d');
      var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: gon.loss_label,
          datasets: [
            {
              label: "JUMLAH RETUR",
              data: gon.retur,
              backgroundColor: [
              'rgba(255, 99, 132, 0.1)',
              ],
              borderColor: [
              'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 2
            },
            {
              label: "JUMLAH BARANG YANG DIRETUR",
              data: gon.retur_item,
              backgroundColor: [
              'rgba(255, 206, 86, 0.1)',
              ],
              borderColor: [
              'rgba(255, 206, 86, 1)',
              ],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true
        }
      });

  - if ["complains"].include? controller_name
    javascript:
      // COMPLAIN CUSTOMER
      var ctxL = document.getElementById("complain").getContext('2d');
      var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: gon.loss_label,
          datasets: [
            {
              label: "JUMLAH RETUR",
              data: gon.complain,
              backgroundColor: [
              'rgba(255, 99, 132, 0.1)',
              ],
              borderColor: [
              'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 2
            },
            {
              label: "JUMLAH BARANG",
              data: gon.complain_item,
              backgroundColor: [
              'rgba(255, 206, 86, 0.1)',
              ],
              borderColor: [
              'rgba(255, 206, 86, 1)',
              ],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true
        }
      });

  - if ["orders"].include? controller_name
    javascript:
      // ORDER GENERAL
      var ctxL = document.getElementById("order").getContext('2d');
      var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: gon.loss_label,
          datasets: [
            {
              label: "JUMLAH ORDER",
              data: gon.order,
              backgroundColor: [
              'rgba(255, 99, 132, 0.1)',
              ],
              borderColor: [
              'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 2
            },
            {
              label: "NOMINAL ORDER",
              data: gon.order_nominal,
              backgroundColor: [
              'rgba(255, 206, 86, 0.1)',
              ],
              borderColor: [
              'rgba(255, 206, 86, 1)',
              ],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true
        }
      });

  - if ["suppliers"].include? controller_name
    javascript:
      // SUPPLIER ORDER
      var ctxL = document.getElementById("supplier_order").getContext('2d');
      var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: gon.loss_label,
          datasets: [
            {
              label: "JUMLAH ORDER",
              data: gon.order,
              backgroundColor: [
              'rgba(255, 99, 132, 0.1)',
              ],
              borderColor: [
              'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 2
            },
            {
              label: "NOMINAL ORDER",
              data: gon.order_nominal,
              backgroundColor: [
              'rgba(255, 206, 86, 0.1)',
              ],
              borderColor: [
              'rgba(255, 206, 86, 1)',
              ],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true
        }
      });

- if ["homes", "transactions"].include? controller_name
  - if ["super_admin", "owner", "developer", "finance"].include? current_user.level
    javascript:
      // TRANSACTION
      var ctxL = document.getElementById("transaction").getContext('2d');
      var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: gon.transaction_label,
          datasets: [
            {
              label: "Omzet",
              data: gon.transaction_omzet,
              backgroundColor: [
              'rgba(0, 137, 132, .1)'
              ],
              borderColor: [
              'rgba(0, 10, 130, 1)'
              ],
              borderWidth: 2
            },
            {
              label: "HPP",
              data: gon.transaction_hpp,
              backgroundColor: [
              'rgba(255, 206, 86, 0.1)',
              ],
              borderColor: [
              'rgba(255, 206, 86, 1)',
              ],
              borderWidth: 2
            },
            {
              label: "Profit",
              data: gon.transaction_profit,
              backgroundColor: [
              'rgba(75, 192, 192, 0.1)',
              ],
              borderColor: [
              "rgb(75, 192, 192, 1)",
              ],
              borderWidth: 2
            },
            {
              label: "Tax",
              data: gon.transaction_tax,
              backgroundColor: [
              'rgba(255, 99, 132, 0.1)',
              ],
              borderColor: [
              'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true
        }
      });
  - if ["candy_dream", "super_visi"].include? current_user.level
    javascript:
      // TRANSACTION
      var ctxL = document.getElementById("transaction").getContext('2d');
      var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: gon.transaction_label,
          datasets: [
            {
              label: "Omzet",
              data: gon.transaction_omzet,
              backgroundColor: [
              'rgba(0, 137, 132, .1)'
              ],
              borderColor: [
              'rgba(0, 10, 130, 1)'
              ],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true
        }
      });

