javascript:
  const autoNumericOption = {
    decimalCharacter: AutoNumeric.options.decimalCharacter.comma,
    digitGroupSeparator: AutoNumeric.options.digitGroupSeparator.dot,
    allowDecimalPadding: false,
    minimumValue: "0"
  }
  
  $(".button-collapse").sideNav();
  var container = document.querySelector('.custom-scrollbar');
  var ps = new PerfectScrollbar(container, {
    wheelSpeed: 2,
    wheelPropagation: true,
    minScrollbarLength: 20
  });

  $(document).ready(function () {
    $('.mdb-select').materialSelect();
    var autoNumericInstance = new AutoNumeric.multiple('.input-sept', null, autoNumericOption);

    $('#input').on('keyup', function() {
      $('#output').val(autoNumericInstance.getNumericString());
    });
  });

  function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
  }
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }

  $('.datepicker').pickadate({
    labelMonthNext: 'Go to the next month',
    labelMonthPrev: 'Go to the previous month',
    labelMonthSelect: 'Pick a month from the dropdown',
    labelYearSelect: 'Pick a year from the dropdown',
    selectMonths: true,
    selectYears: true
  })
